* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*
.app {
  background-image: ;
  background-size: ;
  background-position: ;
  transition: 0.4 ease-out;
}
*/

main {
  min-height: 100vh;
}